<?xml version="1.0" encoding="UTF-8" ?>
<suite name="test">

    <test name="login">
        <classes>
            <class name="com.example.autotest.Suite.SuiteConfig"/>
             <class name="com.example.autotest.Suite.LoginTest"/>
        </classes>
    </test>
    <test name="pay">
        <classes>
            <class name="com.example.autotest.Suite.SuiteConfig"/>
            <class name="com.example.autotest.Suite.PayTest"/>
        </classes>
    </test>
</suite>